.nonSelectedBall {
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.selectedBall {
    width: 65px;
    height: 65px;
    opacity: 0.7;
    cursor: pointer;
}

#nonSelected.border:hover {
    /* border: 2px solid rgb(59, 59, 59) !important; */
    filter: brightness(115%);
}

#nonSelected.border {
    border: 0px !important;
}

#selected.border:hover {
    background: black;
    filter: brightness(80%);
}
