<div class="container">
  <div class="row justify-content-md-center">
    <button class="btn btn-primary m-1" (click)="select(1)">1</button>
    <button class="btn btn-primary m-1" (click)="select(2)">2</button>
    <button class="btn btn-primary m-1" (click)="select(3)">3</button>
    <button class="btn btn-primary m-1" (click)="select(4)">4</button>
  </div> 
  <div class="row justify-content-md-center">
    <button class="btn btn-link" (click)="clear()">Clear selection</button>
  </div>
</div>